# Xcode
DerivedData/
build/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserdatad
*.xcuserstate
*.moved-aside

# Swift Package Manager
/.build/
Packages/
Package.resolved

# SwiftLint cache
.swiftlint.yml.lock
.swiftlint.yml.tmp

# Signing & Profiles
*.mobileprovision
*.provisionprofile
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcconfig.local

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride